body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 100vmin;
    height: 100vmin;
    margin: 0 auto;
}
.row{
    display: flex;
    gap: 1px;
}
.col{
    flex: 1;
    background-color: cornflowerblue;
    aspect-ratio: 1/1;
}
